*{
	font-family: 'Signika', sans-serif;
	font-weight: 700 !important;
	text-align: center;
	font-size: 4vw;
	box-sizing:border-box;
	outline: none;
	letter-spacing: 3px;
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

@bluish: #3F70D4;

body{
	background: @bluish;
	margin: 0;
	
	.title{
		display: none;
	}

	#container{
		width: 80%;
		margin: auto;

		#finger,#toe{
			background: darken(@bluish, 5%);
			border: 2px solid transparent;
			padding: 30px 0;
			color: white; 
		}

		.col-left{
			float: left;
			width: 45%;
			margin: 1% 2%;
		}

		input[type="number"]{
			font-size: 60px;
			border: 0;

			&::-webkit-inner-spin-button, ::-webkit-outer-spin-button { 
				-webkit-appearance: none; 
				margin: 0; 
			}
		}

		button{
			background: darken(@bluish, 5%);
			cursor: pointer;
			border: 2px solid darken(@bluish, 10%);
			transition: background 0.2s, border 0.2s, color 0.2s;

			&:hover, &:focus{
				background: darken(@bluish, 10%);
				border: 2px solid darken(@bluish, 5%);
				color: white;
			}
		}
	}
}

.highlight{
	background: darken(@bluish, 10%) !important;
	border: 2px solid darken(@bluish, 5%) !important;
	color: black !important; 
}

@media screen and (max-width: 641px){
	*{
		font-size: 25px !important;
	}

	#container{
		width: 95% !important;
		padding-top: 1% !important;

		.col-left{
			width: 100% !important;
			float: none !important;
			margin: 2% 0 !important;
			padding: 15px 0 !important;
		}
	}	
}

@media screen and(min-width: 1024px){
	.centered {
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}

	.title{
		display: block !important;
	}
}